    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font: 20px Arial, sans-serif;
        background: rgb(206, 15, 15);
        margin-left: 100px;
        margin-right: 200px;
        align-items: flex-start;
    }
    
    .nav class {
        text-decoration: none;
        background-color: rgba(0, 0, 0, .50);
        border: none;
        padding: 15px 30px;
        margin-right: 15px;
        font-size: 12px;
        cursor: pointer;
        transition: .3s ease all;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-decoration: none;
        color: #AAA;
    }
    
    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    header {
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    h1 {
        font-family: fantasy;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    h2 {
        font-family: fantasy;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    p {
        font-size: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    img {
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }